# Q. Declare an int value and store it in a variable.
Check the type and print the id of the same.

In [4]:
# Solution

a = 10

# type
print(type(a))

#id
print(id(a))

<class 'int'>
140718379222088

# Q. Take one int value between 0 - 256.
Assign it to two different variables.
Check the id of both the variables. It should come the same. Check why?

In [8]:
# solution

a = 50
b = 50

print(id(a))
print(id(b))

# Reason : id of both the variables are same because of object reusability

140712705575240
140712705575240

# Q Take one int value either less than -5 or greater than 256.
Assign it to two different variables.
Check the id of both the variables. It should come different.Check why?

In [9]:


a = 300
b = 300

print(id(a))
print(id(b))

2782548917072
2782548915152

# Q. Arithmetic Operations on integers
Take two different integer values.
Store them in two different variables.
Do below operations on them:-

In [10]:
# Find sum of both numbers
a = 3
b = 2
sum = a+ b
print("*******sum**********")
print(sum)

# Find difference between them
print("*******Difference**********")
diff = a - b
print(diff)

# Find the product of both numbers
print("*******Product**********")
product = a * b
print(product)

# Find value after dividing first num with second number
print("*******Divide**********")
div = a/b
print(div)

# Find the remainder after dividing first number with second number
print("*******Remainder**********")
rem = a%b
print(rem)

# Find the quotient after dividing first number with second number
print("*******Quotient**********")
print(div)

# Find the result of the first num to the power of the second number

power = a**b
print("*******Power**********")
print(power)

*******sum**********
5
*******Difference**********
1
*******Product**********
6
*******Divide**********
1.5
*******Remainder**********
1
*******Quotient**********
1.5
*******Power**********
9

# Q. Comparison Operators on integers
Take two different integer values.
Store them in two different variables.
Do below operations on themCompare se two numbers with below operator:-:-

In [ ]:
 # Greater than, '>'


a = 3
b = 2

print("*******Greater than, '>'**********")
print(a>b)

print("*******Smaller than, '<'**********")
print(a<b)

print("*******Greater than or equal to, '>='**********")
print(a>=b)

print("*******Less than or equal to, '<='**********")
print(a<=b)

# Q. Equality Operator
Take two different integer values.
Store them in two different variables.
Equate them using equality operators (==, !=)

In [8]:
a = 4
b = 4

print("***********Equality Operator (==)**********")
print(a==b)

print("***********Equality Operator (!=)**********")
print(a!=b)

***********Equality Operator (==)**********
True
***********Equality Operator (!=)**********
False

# Q. Logical operators
Observe the output of below code
Cross check the output manually

In [18]:
# and operator
print ( 10 and 20 )
print ( 0 and 20 )
print ( 20 and 0 )
print ( 0 and 0 )

20
0
0
0

In [19]:
# or operator
print ( 10 or 20 )
print ( 0 or 20 )
print ( 20 or 0 )
print ( 0 or 0 )

10
20
20
0

In [20]:
# not operator

print ( not 10 )
print ( not 0 )

False
True

# Q. Bitwise Operators
Do below operations on the values provided below:-

In [27]:
print("********* Bitwise and(&) **********")
print(10&20)

print("************Bitwise or(|) **********")
print(10|20)

print("**********Bitwise(^)**********")
print(10^20)

print("************Bitwise negation(~)************")
print(~10)

print("************Bitwise left shift************")
print(10<<2)

print("************Bitwise Right shift************")
print(10>>2)

********* Bitwise and(&) **********
0
************Bitwise or(|) **********
30
**********Bitwise(^)**********
30
************Bitwise negation(~)************
-11
************Bitwise left shift************
40
************Bitwise Right shift************
2

# Q. What is the output of expression inside print statement.

In [29]:
a = 10
b = 10
print(a is b) #True or False? 
# is operator checks where the address points to same location.In this example since the value of a and b are less than 255 hence a is b retunrs True
print(a is not b)

True
False

In [30]:
a = 1000
b = 1000
print(a is b) #True or False? 
# value os  a and b is greater than 255
print(a is not b)

False
True

# Q. What is the output of expression inside print statement.

In [31]:
print ( 10 +( 10 * 32 )// 2 ** 5 & 20 +(~( -10 ))<< 2 )

20

# Q. Membership operation
in, not in are two membership operators and it returns boolean value

In [32]:
print ( '2' in 'Python2.7.8' )
print ( 10 in [ 10 , 10.20 , 10 + 20j , 'Python' ])
print ( 10 in ( 10 , 10.20 , 10 + 20j , 'Python' ))
print ( 2 in { 1 , 2 , 3 })
print ( 3 in { 1 : 100 , 2 : 200 , 3 : 300 })
print ( 10 in range ( 20 ))

True
True
True
True
True
True

# Q. An integer can be represented in binary, octal or hexadecimal form.
Declare one binary, one octal and one hexadecimal value and store them
in three different variables.
Convert 9876 to its binary, octal and hexadecimal equivalent and print
their corresponding value.

# Q. What will be the output of following:-

In [3]:
a = 0b1010000
print (a)
b = 0o7436
print (b)
c = 0xfade
print (c)
print ( bin ( 80 ))
print(oct(3870))
print(hex(64222))
print(bin(0b1010000))
print(bin(0xfade))
print(oct(0xfade))
print(oct(0o7436))
print(hex(0b1010000))
print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade